@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');

$bg_std: ghostwhite;
$home_bg: orange;
$font_std: 'helvetica';
$black: #000;
$white: #fff;
$animation_time: 350ms;
$gutter_std: 1.5vw;
$blue: blue;
$font_size: 1em;
$margin_std: 0px auto;
$img_width: 200px;
$img_height: 200px;


//h1 font
$header_font: 'Fredericka the Great', cursive;

//position
$center: center;
$flex_std: inline-flex;
$flex_row: row;

//column
$col_width: 24%;